    @font-face {
        font-family: Open_Sans;
        src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
    }
    
    * {
        box-sizing: border-box;
    }
    
    a {
        text-decoration: none;
    }
    
    body {
        width: 1280px;
        height: 4965px;
        border: 1px solid black;
        padding: 0;
        margin: 0 auto;
    }
    
    header {
        width: inherit;
        height: 257px;
        padding: 0;
        margin-left: -15px;
        margin-right: -15px;
        position: relative;
    }
    /* Rectangle */
    
    #rectangle {
        width: inherit;
        height: 35px;
        background-color: #000;
        margin-left: 15px;
        margin-bottom: 0;
        color: #fff;
        padding-left: 55px;
        padding-right: 55px;
    }
    
    #rectangle1 {
        width: 1170px;
        height: 55px;
        background-color: #FF5B8F;
        margin: 0 auto;
        margin-top: 0;
        padding-top: 9.5px;
    }
    
    #rectangle_left a {
        color: white;
        display: inline;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Open_Sans;
        font-size: 12px;
    }
    
    #rectangle img {
        margin-right: 8px;
    }
    
    #rectangle_right a {
        text-transform: uppercase;
        font-size: 12px;
        font-family: Open_Sans;
        color: white;
        text-decoration: none;
    }
    /* Rectangle1 */
    /*lam sao de cho cai rectangel 1 nay vao chinh giua dc a , e da thu nhg k dc */
    
    #rectangle1 {
        padding: 15px 20px;
    }
    
    #rectangle1 p {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Open_Sans;
        font-size: 18px;
        display: inline;
    }
    
    #rectangle1 a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Open_Sans;
        font-size: 18px;
        display: inline;
        margin-left: 250px;
    }
    /*logo + search*/
    
    #logo_search {
        width: 1280px;
        height: 79px;
        position: absolute;
        top: 111px;
        margin: 0 15px;
    }
    
    #logo_search .col-sm-6 {
        width: 476px;
        height: 41px;
        padding-left: 33.5px;
    }
    
    #logo_search .col-sm-6 input {
        width: 396px;
        height: 41px;
    }
    
    #logo_search .col-sm-6 button {
        width: 80px;
        height: 41px;
        border: none;
        background-color: #2D2E30;
    }
    /* ??? lam tn de cai button va input k bi lech nhau v a? */
    
    #logo_search #call {
        color: #2D2E30;
        width: 164px;
        height: 14px;
        text-align: center;
        font-family: Open_Sans;
        font-size: 14px;
    }
    
    #logo_search #phone {
        width: 223px;
        height: 34px;
        font-family: Open_Sans;
        text-align: center;
        font-size: 34px;
        color: #2D2E30;
    }
    /*Navigation*/
    
    .navigation {
        text-align: center;
        position: absolute;
        top: 217px;
        left: 177.5px;
    }
    
    .navigation ul {
        width: 925px;
        height: 16px;
        font-size: 15px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Open_Sans;
        margin: 0 auto;
    }
    
    .navigation ul a {
        color: #2D2E30;
    }